<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
 <meta charset="UTF-8">
 <title>FlatFoot Detectio</title>
 <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
 <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
 <link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
 <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
 <link rel="stylesheet" href="static/index.css">
</head>

<body>
  <header>
    <a href="#" class="logo"> FlatFoot Detection</a>
    <nav class="navigation">
        <a href="#book">BOOK</a>
        <a href="{{ url_for("PredictDeformity") }}">PREDICT</a>

    </nav>
</header>


 <div class="login">
	
     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
    <input type="text" name="sensor1" placeholder="sensor1" required="required" />
    <input type="text" name="sensor2" placeholder="sensor2" required="required" />
		<input type="text" name="sensor3" placeholder="sensor3" required="required" />
		<input type="text" name="sensor4" placeholder="sensor4" required="required" />
    <input type="text" name="sensor5" placeholder="sensor5" required="required" />

    <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>
   <br>
   <br>
   {{ prediction_text }}

 </div>


</body>
</html>