<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.css">
    <link rel="stylesheet" href="static/style.css">
    <title>FlatFoot Detection</title>
</head>
<body>
    <header>
        <ul>
            <img src="../static/images/logo.png" class="logopng">
        <a href="{{ url_for("Home") }}" class="title"> FlatFoot Detection</a>
        </ul>
        
        <nav class="navigation">
            <a href="#book">BOOK</a>
            <a href="{{ url_for("PredictDeformity") }}">PredictDeformity</a>

        </nav>

    </header>

    <section class="main">
    <div>
        <h2>PesPlanus</h2>
        <h3>Detect Foot Deformity Using<br>Force sensors placed in Shoe Sole</h3>
    </div>
    </section>

    <section class="cards">

    </section>

    <footer>
        <div class="row">
            <div class="col">
                <img src="../static/images/logo.png" class="logo">
                <p>FlatFoot Detection</p>
            </div>
            <div class="col">
                <h3>Team</h3>
                <p>roshdy</p>
                <p>2</p>
                <p>3</p>
                <p>4</p>
                <p>5</p>
                <p>6</p>
                <p>7</p>
                <p>8</p>
                <p>9</p>
                <p>10</p>
            </div>
            <div class="col">
                <h3>SuperVision</h3>
                <p>DR</p>
                <p>ENG</p>
                <p>ENG</p>
            </div>
            <div class="col">

            </div>
            <div class="col"></div>

        </div>
    </footer>
</body>
</html>