@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    font-family: 'Poppins', sans-serif;
    margin:0;
    padding:0;
    box-sizing:border-box;
    scroll-behavior:smoth;
}

header{
    background-color: #f0f0f0;
    width: 100%;
    position: fixed;
    z-index:999;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding: 10px 100px;
    
}

.title{

    text-decoration:none;
    color:darkblue;
    text-transform :uppercase;
    font-weight: 700;
    font-size:1.8em;
    padding-left: 60px;
}
.logopng{
    width: 57px;  
    height: 43px; 
    position: absolute;

}

.navigation a{
    text-decoration:none;
    color: darkblue;
    font-weight: 500;
    font-size:1.1em;
    padding-left: 25px;

}

.navigation a:hover{
    color:rgb(111, 166, 21);
}

section{
    padding: 20px 200px;
}

.main{
    width: 100%;
    min-height: 100vh;
    display:flex;
    align-items: center;
    background: url(images/anatomy.webp) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.main h2{
    display:incline-block ;
    margin-top: 0px;
    color:rgb(101, 101, 208);
    font-size: 3em;
    font-weight:800;

}
.main h3{
    color: darkgrey;
    font-size: 1.2em;
    font-weight: 400;
    letter-spacing: 0px;
    margin-top: 0px;
    margin-bottom: 80px;

}


.cards{
    width: 100%;
    min-height: 100vh;
    display:flex;
    
}




footer{
    background-color: #29292b;
    width: 100%;
    bottom: 0;
    background: linear-gradient(right,#00093c,#2d0b00);
    color:#fff ;
    padding:10px 0 0px ;
    border-top-left-radius: 250px;
    font-size:13px ;
    line-height: 20px; 
}




.row{
    width:80% ;
    margin:auto;
    display:flex ;
    flex-wrap:wrap;
    align-items: flex-start ;
    justify-content: space-between;
     margin-top: 0%;

}

.col{
    flex-basis: 25% ;
    padding: 10px;
    position:center;

}


.col h3{
    width: fit-content ;
    margin-bottom: 20px;
    position: relative;

}






img {
    width: 57px;  
    height: 43px; 
    position:relative;
    
}
@media(max-width:1023px){
    header{
        padding: 12px 20px;
    }
    .navigation a{
        
        padding-left: 10px;
    
    }
}



